.header {
    display: flex;
    justify-content: space-between;
    background-color: #62C370;
    border-bottom: 10px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}