.main-carousel {
    display: flex;
    position: relative;
    overflow: hidden;
}


.wrap_img{
    height: 140px;
    background-color: white;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.wrap_img.-greenbg {
    background-color: #62C370;
}

.wrap_img.-yellowbg {
    background-color: #CEB02A;
}

.wrap_img.-right {
    margin-right: 50px;
}



.-year.-right {
   padding-right: 42px;

}

.element {
    display: flex;
    width: 100%;
    transition: transform 300ms ease-in-out;
}

/* .line {
    width: 100vw;
    border: 5px solid black;
} */