.skills-section {
    background-color: #62C370;
    height: 730px;
    border-bottom: #7C5E99 10px solid;


    display: flex;
    flex-direction: column;
    align-items: center;
}
    

.skills-section .wrapper2 {
    /* precisa ter um tamnho do box necessário pra ele modifica os elementos */
    display: flex;
    justify-content: space-around;
    width: 100%;
}


/*.column {
    flex: 1;
    padding: 0px 210px;
}
*/